<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agricore</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
    <div class="logo">AgriCore</div>
    <div class="nav-links">
      <a href="/login"><button class="nav-btn">Login</button></a>
      <a href="/register"><button class="nav-btn">Register</button></a>
    </div>
  </nav>
</body>
</html>
