* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: black;
    line-height: 1.6;
    padding: 50px;
    padding-right: 300px;
    padding-left: 300px;
}


h1 { 
    font-size: 3rem; 
    margin-bottom: 1.5rem;
    font-weight: bold;
 }

h2 { 
    font-size: 1.8rem;
    margin-bottom: 1rem;
 }

form {
    display: flex;
    flex-direction: column; 
    gap: 12px;
    padding: 25px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 20px 0;
}

input { 
    padding: 12px;
    font-family: inherit; 
    font-size: 1rem; 
    border: 2px solid black; 
    border-radius: 4px; 
}

button {
    padding: 12px; 
    font-family: inherit; 
    font-size: 1rem; 
    font-weight: bold;
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    border-style: solid; 
    border-width: 2px;
    border-radius: 4px;
    cursor: pointer; 
    margin-top: 10px;
    border-color: black;
}


.message { 
    margin: 15px 0; 
    padding: 10px; 
    border-radius: 4px; 
    font-weight: bold; 
}

.message.success { 
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb; 
}

.message.error { 
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb; 
}